<%- include('../layout/header.dashboard.ejs') %> 

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"><%= title %> </h1>
        </div>

        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Jumlah pengaduan</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="pengaduanCount">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-mail-bulk"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% if(role === "owner") { %> 
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Jumlah akun</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800" id="accountCount">0</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %> 

        </div>

    </div>
    <!-- /.container-fluid -->

    <script src="js/dashboard-script.js"></script>
<%- include('../layout/footer.dashboard.ejs') %> 