<!-- Modal -->
<div class="modal fade" id="pengaduanModals" tabindex="-1" aria-labelledby="pengaduanModalsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pengaduanModalsLabel">Detail pengaduan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-column my-2">
                        <span>Nama pelapor</span>
                        <span class="font-weight-bold" id="nama_pelapor"></span>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <span>Nomor hp pelapor</span>
                        <span class="font-weight-bold" id="hp_pelapor"></span>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <span>Alamat pelapor</span>
                        <span class="font-weight-bold" id="alamat_pelapor"></span>
                    </div>

                    <div class="d-flex flex-column my-2">
                        <span>Nama terlapor</span>
                        <span class="font-weight-bold" id="terlapor"></span>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <span>Perbuatan</span>
                        <span class="font-weight-bold" id="perbuatan"></span>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <span>Satuan kerja</span>
                        <span class="font-weight-bold" id="satuan_kerja"></span>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <p>Foto perbuatan</p>
                        <img src="" id="proofPhoto" class="w-100">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>